

#title {
  background-color: #bf1e2e;
  padding: 1% 10%;
  color: #fff;
}

.heading-text {
  text-align: center;
  border-style: solid;
  border-radius: 25px;
}
.heading-font {
  font-family: 'Antic Didone', serif;
}
.subheading-font {
  font-family: 'Montserrat', sans-serif;
}
.body-font {
  font-family: 'Montserrat', sans-serif;
  color: #8f8f8f;
}
.header-image {
  width: 60%;
  margin: 5px auto 5px auto;
  display: block;
}

.blockquote {
  margin: 0 auto 0 auto;
  text-align: center;
  padding: 10px;
}
.carousel {
  border-style: solid;
  color: #bf1e2e;
}

.radius {
  width: 90%;
}
.service {
  text-align: left;
}
.cities {
  /* text-align: left; */
  font-size: 15px;
}
.call {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-container {
  background-color: #bf1e2e;
  color: #fff;
  text-align: center;
  margin-top: 25px;
}

.dealer-link {
  text-decoration: none;
  color: #fff;
}

.product {
  padding-top: 20px;
}

.dealer {
  width: 50%;
  padding-top: 20px;
}
.icons {
  padding-bottom: 20px;
}
.copyright {
  text-align: center;
}

.gallery {
  margin: 25px auto 25px auto;
  width: 350px;
  text-align: center;
}

.page-heading {
  text-align: center;
  font-family: 'Antic Didone', serif;
}

.subpage-heading {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

/* contact */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #bf1e2e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #bf1e2e;
}

.contact-info {
  text-align: center;
}

/* Add a background color and some padding around the form */
.contact-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.fab {
  margin-top: 10px;
  margin-bottom: 20px;
}

.products {
  line-height: 3;
}

.history {
  line-height: 2;
  padding: 10px;
}

#about-us {
  margin-top: 10px;
}
